/* You can add global styles to this file, and also import other style files */
.nav-link-item-text{
    color: white !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.nav-bg-black{
    background: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-shadow-add-books{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.01),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.label-font{
    font-weight: 700;
}
.float-right{
 float: right;
}