<nav class="navbar navbar-expand-lg nav-bg-black">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/books.png" width="96" height="96" class="img-fluid" style="padding-left: 30px;" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link nav-link-item-text" routerLinkActive="active" routerLink="/books-list">Show Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-item-text" routerLinkActive="active" routerLink="/add-book">Add Books</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>